<ul class="nav flex-column mt-4">
  <li class="nav-item">
    <a
      class="nav-link text-black d-flex flex-column justify-content-start align-items-center"
      aria-current="page"
      href="/"
    >
      <span class="oi oi-home bg-secondary bg-opacity-50 p-4 rounded"></span>
      <p class="fw-medium">Home</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black d-flex flex-column justify-content-start align-items-center" href="/courses/create">
      <span class="oi oi-pencil bg-secondary bg-opacity-50 p-4 rounded"></span>
      <p class="fw-medium">Create Course</p>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-black d-flex flex-column justify-content-start align-items-center"
      href="/me/stored/courses"
    >
      <span class="oi oi-person bg-secondary bg-opacity-50 p-4 rounded"></span>
      <p class="fw-medium">My Course</p>
    </a>
  </li>
  {{!--
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
  --}}
</ul>
